<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="cache" />
					<add segment="files" />
					<add segment="store" />
					<add segment="config.php" />
					<add segment="common.php" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="images/avatars">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="upload" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<!-- www.phpBB-SEO.com SEO TOOLKIT BEGIN -->
	<location path="phpbb_seo">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="cache" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<!-- www.phpBB-SEO.com SEO TOOLKIT END -->
	<!-- www.phpBB-SEO.com SEO TOOLKIT BEGIN - GYM SITEMAPS -->
	<location path="gym_sitemaps">
		<system.webServer>
			<security>
				<requestFiltering>
					<hiddenSegments>
						<add segment="cache" />
					</hiddenSegments>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<!-- www.phpBB-SEO.com SEO TOOLKIT END - GYM SITEMAPS -->
</configuration>
